<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccine Slots Available</title>
  </head>

  <body>
    <p>&nbsp;</p>
    <!--100% body table-->
    <table style="font-family: 'Open Sans', sans-serif; height: 588px;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f2f3f8" data-darkreader-inline-bgcolor="">
      <tbody>
        <tr style="height: 548px;">
          <td style="height: 548px;">
            <table style="background-color: #f2f3f8; max-width: 670px; margin: 0px auto; height: 543px;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" data-darkreader-inline-bgcolor="">
              <tbody>
                <tr style="height: 22px;">
                  <td style="height: 22px;">&nbsp;</td>
                </tr>
                <tr style="height: 196px;">
                  <td style="text-align: center; height: 196px;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/0XbkwxQ/output-onlinepngtools.png" alt="output-onlinepngtools" border="0" /></a></td>
                </tr>
                <tr style="height: 20px;">
                  <td style="height: 20px;">&nbsp;</td>
                </tr>
                <tr style="height: 305px;">
                  <td style="height: 305px;">
                    <table style="max-width: 670px; background: #ffffff; border-radius: 3px; text-align: center; box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 18px 0px; height: 305px;" border="0" width="95%" cellspacing="0" cellpadding="0" align="center" data-darkreader-inline-bgimage=""
                      data-darkreader-inline-bgcolor="" data-darkreader-inline-boxshadow="">
                      <tbody>
                        <tr style="height: 40px;">
                          <td style="height: 40px;">&nbsp;</td>
                        </tr>
                        <tr style="height: 225px;">
                          <td style="padding: 0px 35px; height: 225px;">
                            <h1 style="color: #1e1e2d; font-weight: 500; margin: 0; font-size: 32px; font-family: 'Rubik',sans-serif;" data-darkreader-inline-color="">Vaccination Slot available</h1>
                            <p style="color: #455056; font-size: 15px; line-height: 24px; margin: 10;" data-darkreader-inline-color="">Hey, There are some slots available for Vaccination in your area. Slot details are mentioned below. Be Safe, Be Happy</p>
                            {{{ slotDetails }}}
                            <p>For Registration, Go to <a href="https://selfregistration.cowin.gov.in/" target="_blank" rel="noopener">Cowin</a></p>
                            <p>&nbsp;</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="height: 40px;">
          <td style="height: 40px;">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <!--/100% body table-->
    <p>&nbsp;</p>
  </body>

</html>
