@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color: #0f0e17;
  --secondary-color: #fffffe;
  --btn-bg-color: #ff8906;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
